.map-container {
    position: static;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }
    .marker {
        background-image: url('mapbox-icon.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
    .sidebar {
        background-color: rgba(35, 55, 75, 0.9);
        color: #ffffff;
        padding: 6px 12px;
        font: 15px/24px monospace;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        margin: 12px;
        border-radius: 4px;
        }